{% extends 'front.html.twig' %}

{% block body %}
    <h1>Items list</h1>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Priceht</th>
                <th>Discount</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><a href="{{ path('items_show', { 'id': item.id }) }}">{{ item.id }}</a></td>
                <td>{{ item.reference }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.picture }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.priceHt }}</td>
                <td>{{ item.discount }}</td>
                <td>{{ item.stock }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('items_show', { 'id': item.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('items_edit', { 'id': item.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('items_new') }}">Create a new item</a>
        </li>
    </ul>
{% endblock %}
