<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/png" href="{{asset('asset/img/logo1.png')}}" />
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      {# JQuery-ui #}
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      {# bootstrap file input #}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" integrity="sha256-XS5qtMB+ty0Zekyi7Z95nyhewyocc88qF5THTXg1Plw=" crossorigin="anonymous" />
      {# bootstrap sweetalert #}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" integrity="sha256-zuyRv+YsWwh1XR5tsrZ7VCfGqUmmPmqBjIvJgQWoSDo=" crossorigin="anonymous" />
      {# Bootstrap select #}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
      <link rel="stylesheet" href="{{asset("asset/css/variables.css")}}">
      <link rel="stylesheet" href="{{asset("asset/css/seller.css")}}">
      <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ path('homepage')}}"><img src="{{asset('asset/img/logo1.png')}}" alt="Logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
            {{render(controller('MarketplaceBundle:NavSeller:userShop'))}}  
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="{{ path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      {% else %}
          <li><a href="{{path('fos_user_security_login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
      {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{path('admin')}}">admin</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
     {% block body %}{% endblock %}
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       {# JQuery-ui #}
       <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      {# bootstrap file input #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js" integrity="sha256-JfzBQ3ihFh9Hj51yhTbw/Xjwv7cpNvqSpRvpLHOg71w=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/locales/fr.min.js" integrity="sha256-IhwAhbsEaxsjrjHlxOYn9r2b3zXsOC+X7DH8RTAQNyM=" crossorigin="anonymous"></script>
      {# bootstrap sweetalert #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js" integrity="sha256-JirYRqbf+qzfqVtEE4GETyHlAbiCpC005yBTa4rj6xg=" crossorigin="anonymous"></script>
      {# bootstrap select #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

      <script src="{{ asset('asset/js/functions.js') }}"></script>
      <script>
      $(function()
      {
        dropdownMenu();

        $('form[name=form]').submit(function(e){
            e.preventDefault();
            var myForm = $(this);

            var myUrl = myForm.attr('action');
            // console.log(myUrl);

            var myMethode = myForm.attr('method');
            // console.log(myMethode);
            
            var formdata = (window.FormData) ? new FormData(myForm[0]) : null;
            var datas = (formdata !== null) ?  myForm.serialize() : formdata;

            swal({
              title: "Etes vous sur de vouloir supprimer ?",
              text: "Vous ne pourrez pas recuperer ce produit !",
              type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn-danger",
              confirmButtonText: "oui, je confirme",
              closeOnConfirm: false
            },
            function(){

              $.ajax({
                url: myUrl,
                type: myMethode,
                // dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
                data: datas,
                success: function(return_url)
                {
                   swal("supprimer!", "Votre produit a bien été supprimé !", "success");
                   setTimeout(function () {
                    window.location.href = return_url;// url deredirection
                  }, 2000);
                      
                },
                error: function()
                {
                  console.log('toto');
                }
              });
              
              
            });

        }); //Fin 

      }); //Fin jquery

      function changeInput()// permet de transformer le bouton parcourrir grace a bootstrap input
      {
          $(".vich-image input").fileinput(
          {
              'showUpload':false,
              'showCaption':false,
              language: "fr"
          });

          $('.vich-image a img').each(function()
          {
              var src =  $(this).attr("src");
              var asset = "{{asset("")}}";
              $(this).attr( "src", asset+ src ).css({
                  width: '197px !important'
              }).addClass('test').addClass('img-responsive').addClass('img-thumbnail');
              src =  $(this).attr("src");
              console.log(src);
          });

          $('.vich-image a').each(function()
          {
              var href =  $(this).attr("href");
              var asset = "{{asset("")}}";
              $(this).attr( "href", asset+ href ).addClass('test').addClass('col-xs-3');
              href =  $(this).attr("href");
              console.log(href);
          });

          $(".vich-image input").attr('required', 'required'); //On rajoute l'attribut required au chaamps
      }
      </script>


{% block javascripts %}
{% endblock %}
</body>
</html>