{% extends 'front.html.twig' %}
{% block body %}
	{% if items|length == 0 %}
		<div>
			<h5>Aucun produit dans le pannier</h5>
			<a href="{{path('homepage')}}">Choisisser vos produits</a>
		</div>

	{% else %}
			{% set Total = 0 %}
			{% set TotalTva = 0 %}
			{% set Ttc = 0 %}
			{% set Ht = 0 %}
			{% set TotalHt = 0 %}
			{% set previous = null %}

			<div class="col-sm-8">
				{% for item in items %}

					{% set current = item.shop.slug %}

					{% if current != previous %}
						<div class="col-sm-12" style="padding-top: 3em;">
							<div class="col-xs-6">
								<h5>
								<a href="{{path("shop_show_details",{"slug":item.shop.slug})}} ">{{item.shop.commercialName}}</a>
								</h5>
							</div>
							<div class="col-xs-6">
								<label for="shipment">Livraison :</label>
									<select name="shipment" id="shipment" class="selectpicker" style="height: 50% !important">
										{% for ship in shipment %}
											<option value="{{ship.id}}">{{ship.name}}</option>
										{% endfor %}
									</select>
							</div>
							
								{# <p class="col-xs-3" style="float:left" style="display: inline"> #}
									
								{# </p> #}
								<br><br>
							<hr>
						</div>
						{% set previous = current %}
					{% endif %}


					{# Notre calcul se fait que  si on arrive ici #}
					{% if cart[item.id] > item.stock %}
						{% set Ht = item.priceHt * item.stock %}
					{% else %} 
						{% set Ht = item.priceHt * cart[item.id] %}
					{% endif %}

					{% set TotalHt = TotalHt + Ht %}

					{% set Ttc = Ht|tva(item.tva.value) %}

					{% set TotalTva = TotalTva + (Ttc - Ht) %}

					{% set Total = Total + Ttc %}


					<div class="col-sm-12">

						<div class="col-xs-3">
							{% for pic in item.picture %}
								{% if loop.first %}
									<td> <img src="{{asset(pic.url)}}" style="max-width:90px !important" alt="item.name"></td>
								{% endif %}
							{% endfor %}
						</div>

						<div class="col-xs-7">
							<div class="form-group">
								<form action="{{path('addToCart',{'slug':item.slug})}}" method="GET" class="form-horizontal">
									{% if item.stock < 10 %} <span class = "text-danger">{{item.stock}}</span>{% endif %}
									<input type="number" class="form-control" name="qte" min=1 max={{item.stock}} id="qte{{item.id}}" step="1" 
											{% if cart[item.id] > item.stock %}
												value="{{item.stock}}"
											{% else %}
												value="{{cart[item.id]}}"
											{% endif %}
														>
									<button type="submit"><i class="fa fa-refresh" aria-hidden="true"></i></button>
									<a href="{{path('deleteFromCart',{'id':item.id})}} "><i class="fa fa-trash-o" aria-hidden="true"></i></a>
								</form>
							</div>

						</div>
						<div class="col-xs-2">
							{{Ht}} €
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="col-sm-4 right text-justify" style="padding-top: 8em; padding-left: 5em;">
				
					<h4>Montant :</h4>
					Total ht: {{TotalHt}}<br>
					Total tva: {{TotalTva}}	<br>	
					Ttc: {{Total}} <br> <br>
					<a href="{{path('livraison')}}" class="btn btn-success">Valider mon pannier</a>
			</div>
			<div class="col-sm-12" style="padding: 3em;">
					<a href="{{path('homepage')}}" class="btn btn-primary">Poursuivre mes achats</a>
			</div>

	{% endif %}
{% endblock %}