{% extends 'front.html.twig' %}
{% block description %}{{product.description}}{% endblock %}
{% block keywords %}{{product.name}}{% endblock %}
{% block body %}
	<h1 class="text-center"> {{product.name}} </h1>
	<div class="col-sm-6">
		{% for pic in item %}
			<div class="col-xs-4">
				<img src="{{asset(pic.url)}}" alt="{{product.name}}" class="img-responsive">
			</div>
		{% endfor %}
	</div>
	<div class="col-sm-6">
		<p>
			{{product.description}}
		</p>
		<p>
			{{product.priceHt|tva(product.tva.value)}} €
		</p>
		<form action="{{path('addToCart',{'id':product.id})}}" method="GET" class="form-horizontal">
			<input type="number" class="form-control" name="qte" min=1 max=400 step="1" value="1">
			<input type="submit" value="Ajouter au panier" class="btn btn-success">
		</form>
	</div>
{% endblock %}