{% extends 'front.html.twig' %}
{% block description %}{{product.description}}{% endblock %}
{% block keywords %}{{product.name}}{% endblock %}
{% block body %}
	<h1 class="text-center"> {{product.name}} </h1>
	<div class="col-sm-6">
		{% for pic in product.picture %}
			<div class="col-xs-4 tab-pane {% if loop.first %}active{% endif %}">
				<img src="{{asset(pic.url)}}" alt="{{product.name}}" class="img-responsive">
			</div>
		{% endfor %}
	</div>
	<div class="col-sm-6">
		<p>
			{{product.description}}
		</p>
		<p>
			{{product.priceHt|tva(product.tva.value)}} €
		</p>
		<form action="{{path('addToCart',{'slug':product.slug})}}" method="GET" class="form-horizontal">
			<input type="number" class="form-control" name="qte" min=1 max=400 step="1" value="1">
			<input type="submit" value="Ajouter au panier" class="btn btn-success">
		</form>
	</div>
{% endblock %}

{% block javascripts %}
<script>
	var myIndex = 0;
		function carousel() 
		{
		    var i;
		    var x = document.getElementsByClassName("tab-pane");
		    for (i = 0; i < x.length; i++) {
		       x[i].style.display = "none";  
		    }
		    myIndex++;
		    if (myIndex > x.length) {myIndex = 1}    
		    x[myIndex-1].style.display = "block";  
		    setTimeout(carousel, 3000); // Change image every x seconds

		}

		carousel();
</script>		
{% endblock %}