{% extends 'front.html.twig' %}
{% block body %}
<div class="products-content">
    {% set id = 0 %} <!--  on defini un variable appelé id a 0 -->
	{% for pic in pictures %}
		{% set item = pic.items %}
		
		{% if id < item.id %}
			<!-- On arrive ici que si l'item n'est pas encore affiché -->
			<div class="col-sm-3 item">
				<a href="{{path('show_product_details',{'slug': item.slug})}}">
					<img src="{{pic.url}}" alt="{{item.name}}" class="img-responsive text-center"> <br>
				</a>
				<p>{{pic.items.name}}</p>
					{{item.priceHt|tva(item.tva.value)}} €
					   {# alt 0160 = caractere invisible #}
					<a href="{{path('addToCart', {'id' : item.id})}}" class="btn item-button">Ajout au pannier</a>
			</div>
		{% endif %}

		{% set id = item.id %}  <!-- on assigne id a l'id de l'item bouclé-->
	{% endfor %}
</div>
{#     Detail de la boutique (liste des iitems)
 #}{% endblock %}