{% extends 'front.html.twig' %}
{% block description %}{{shop.commercialName}}{% endblock %}
{% block keywords %}{{shop.commercialName}}{% endblock %}

{% block body %}
	<h1 class="text-center">{{shop.commercialName}}</h1>
	{{ include('front/shop/shop_content.html.twig') }}
{% endblock %}

 {% block seller %}
 	<ul>
 		<li>
	    	<a href="{{path("shop_show_details",{"slug":shop.slug})}} "><img src="{{shop.logo}} "  alt="{{shop.slug}}"></a>
	    </li>
 	</ul>
 {% endblock %}