{% extends 'front.html.twig' %}
{% block body %}

	{% set id = 0 %} {# on defini un variable appelé id a 0 #}
	{% for pic in pictures %}
		
		{% if id < pic.items.id %}
			{# On arrive ici que si l'item n'est pas encore affiché #}
			<div class="col-sm-4">
				<a href="{{path('show_product_details', {'slug': pic.items.slug})}}">
					<img src="{{pic.url}}" alt="" class="img-thumbnail" style="width:197px !important">
				</a>
				<p>
					{{pic.items.name}} <br>
					{{pic.items.priceHt|tva(pic.items.tva.value)}} €<br>
					<a href="{{path('addToCart',{'id':pic.items.id})}}" class="btn btn-primary">Ajouter au panier</a>
				</p>
			</div>
		{% endif %}

		{% set id = pic.items.id %} {# on assigne id a l'id de l'item bouclé #}
	{% endfor %}

{% endblock %}

{% block banderole %}
	{% for mag in shop %}
	    
	  <div class="tab-pane {% if loop.first %}active{% endif %}" style ="max-width:100%">
	  	<a href="{{path("shop_show_details",{"slug":mag.slug})}} ">
	  		<img src="{{mag.cover}} " alt="cover" style="width: 100% !important; height: 197px !important;">
	  	</a>
	  </div>

	{% endfor %}
{% endblock %}

{% block javascripts %}
    <script>
    	var myIndex = 0;
		function carousel() 
		{
		    var i;
		    var x = document.getElementsByClassName("tab-pane");
		    for (i = 0; i < x.length; i++) {
		       x[i].style.display = "none";  
		    }
		    myIndex++;
		    if (myIndex > x.length) {myIndex = 1}    
		    x[myIndex-1].style.display = "block";  
		    setTimeout(carousel, 3000); // Change image every x seconds

		}

		carousel();
    </script>
{% endblock %}