{% extends 'front.html.twig' %}
{% block body %}
	<div class="text-center">	
		<legend>	
			Récapitulatif
		</legend>
		{% set aPayer = 0 %}

		<div class="col-sm-3" style="float-left">

				<div class="col-xs-12">
					<h4>
						Adresse de facturation
					</h4>
					<p>
						{{facturation.firstname}} {{facturation.lastname}} <br>	
						{{facturation.adress}} {{facturation.zipcode}} {{facturation.city}}
					</p>
					<hr>
					<h4>
						Adresse de Livraison
					</h4>
					<p>
						{{livraison.firstname}} {{livraison.lastname}} <br>	
						{{livraison.adress}} {{livraison.zipcode}} {{livraison.city}}
					</p>
					
					<hr>
						<a href="{{path('livraison')}}" class="btn btn-primary">Changer mes adresses</a>
						<a href="{{path('shipmentWay')}}" class="btn btn-info">Changer le moyen de livraison</a>
				</div>

		</div>
		<div class="col-sm-6 center-block">
		{% for order in orders %}
			{% set detail = order.orders %}
			{% set aPayer = aPayer + detail.total %}
			{# <div class="col-sm-12">
				<h5>{{detail.shop.name}}</h5>
				<hr>
			</div> #}
			

				<div class="col-sm-12">
					{# <h5 class="text-left">{{detail.shop.name}}</h5> #}
					<p class="text-left"> Expédition : {{detail.shipmentWay.name}} {{detail.shipmentWay.price}} €<br>	</p>
					<hr>
				</div>
				<div class="col-sm-12">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Quantité</th>
								<th>Montant</th>
							</tr>
						</thead>
						<tbody>
						{% for item in detail.item %}
							<tr>
								
								<td>{{item.name}}</td>
							{# <tr>
								<th>Montant ht</th>
								<td>{{item.priceHt}}</td>
							</tr> #}
								
								<td>{{item.qte}}</td>
							{# <tr>
								<th>Prix unitaire sans taxe</th>
								<td>{{item.price}}</td>
							</tr> #}
								
								<td>{{item.priceTtc}}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<hr>
					<p class="text-right">Sous total: {{detail.total}} </p>
				</div>	
			

		{% endfor %}
		</div>
		
		<div class="col-sm-3" style="float-right">
			<h4>Montant</h4>
			{# Total Ht:{{detail.totalHt}} € <br>	 #}
	{# 		{% for key,tva	 in detail.tva %}
				Tva {{key}} : {{tva}} € <br>	
			{% endfor %} #}
			
			Total Ttc : {{aPayer}} €
			<br>
			{# <hr>	 #}
			<a href="{{ path('payment_complete', {'ordersId':ordersId} ) }}" class="btn btn-danger">TEST TEST TEST</a>
			<a href="{{ path('paymentWay',{'id':order.id, 'montant': aPayer} ) }}" class="btn btn-success">Valider la commande</a>
			{# <a href="#" class="btn btn-success">Valider la commande</a> #}
		</div>

	</div>

{% endblock %}
