{% extends 'front.html.twig' %}
{% block body %}
	<div class="text-center">	
		<legend>	
			Recapitulatif
		</legend>

		<table class="table table-striped text-left">
			<thead>	
				<tr>	
					<td>Nom</td>
					<td>Prix unitaire Ht</td>
					<td>Quantitée</td>
					<td>Prix Ht</td>
					<td>Prix Ttc</td>
				</tr>
			</thead>
			<tbody>	
				{% for 	item in order.orders.item %}
					<tr>	
						<td>{{item.name}}</td>
						<td>{{item.priceHt}}</td>
						<td>{{item.qte}}</td>
						<td>{{item.price}}</td>
						<td>{{item.priceTtc}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% set 	ordered = order.orders %}
		<div class="text-top" style="float-left !important;">
			<div class="col-xs-6 well">
				<h4>
					Adresse de facturation
				</h4>
				<p>
					{{ordered.facturation.firstname}} {{ordered.facturation.lastname}} <br>	
					{{ordered.facturation.adress}} {{ordered.facturation.zipcode}} {{ordered.facturation.city}}
				</p>
			</div>
			<div class="col-xs-6 well">
				<h4>
					Adresse de Livraison
				</h4>
				<p>
					{{ordered.livraison.firstname}} {{ordered.livraison.lastname}} <br>	
					{{ordered.livraison.adress}} {{ordered.livraison.zipcode}} {{ordered.livraison.city}}
				</p>
			</div>
			<div class="col-xs-12">
				<a href="{{path('livraison')}}" class="btn btn-primary">Changer l'adresse de livraison</a>
				<a href="{{path('shipmentWay')}}" class="btn btn-info">Changer le moyen de livraison</a>
			</div>
		</div>
		<div style="float-right !important;">	
			<div class="col-xs-12 well text-right">	
				<h4>Montant</h4>
				Total Ht:{{ordered.totalHt}} € <br>	
				{% for key,tva	 in ordered.tva %}
					Tva {{key}} : {{tva}} € <br>	
				{% endfor %}
				Expedition : {{ordered.shipmentWay.name}} {{ordered.shipmentWay.price}} €<br>	
				Total Ttc : {{ordered.total}}
			</div>
			<div class="col-xs-12">	
				{# <a href="{{path('paymentWay',{'id':order.id})}}">Valider la commande</a> #}
				<a href="#" class="btn btn-success">Valider la commande</a>
			</div>
		</div>
	</div>

{% endblock %}
