{% extends 'shop.html.twig' %}

{% block body %}
    <h1>Items list</h1>



    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Priceht</th>
                <th>Discount</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
           
            {# {% if shop.id == pic.items.shop.id %} #}
                <tr>
                    <td><a href="{{ path('items_show', { 'id': item.id }) }}">{{ item.id }}</a></td>
                    <td>{{ item.reference }}</td>
                    <td>{{ item.name }}</td>
                    {% for pic in item.picture %}
                        {% if loop.first %}
                            <td><img src="{{ asset(pic.url) }}" alt="{{ item.name }}" title="{{ item.name }}" style="width: 197px !important; hieght: 197px !important;"></td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ item.description }}</td>
                    <td>{{ item.priceHt }}</td>
                    <td>{{ item.discount }}</td>
                    <td>{{ item.stock }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('items_show', { 'id': item.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('items_edit', { 'id': item.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {# {% endif %} #}
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(items) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('items_new',{'id': shop.id}) }}">Create a new item</a>
        </li>
    </ul>
{% endblock %}
