{% extends 'shop.html.twig' %}

{% block body %}
    <h1>Item</h1>

    <table class="table table-responsive table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ item.reference }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                 {% for pic in item.picture %}
                    {% if loop.first %}
                        <td><img src="{{ asset(pic.url) }}" alt="{{ item.name }}" title="{{ item.name }}" style="width: 197px !important; hieght: 197px !important;"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>Priceht</th>
                <td>{{ item.priceHt }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ item.discount }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ item.stock }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('items_index', {'id': item.shop.id}) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('items_edit', { 'id': item.id }) }}">Edit</a>
        </li>
         <li>
            <a href="{{ path('items_new',{'id': item.shop.id}) }}">Create a new item</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
